# Пример конфигурации + для локальной развертки приложения, НЕ ДЛЯ ПРОДА!

ENV=local

# # FastAPI
MICROSERVICE_NAME=ave
APP_HOST=api
APP_PORT=8889

# Databases
# # Postgresql
DATABASE_CONNECTION_URL=postgresql+asyncpg://postgres:postgres@db:5432/ave
DATABASE_MAX_OVERFLOW=15
DATABASE_POOL_SIZE=30

DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ave

# # Redis
REDIS_CONNECTION_URL=redis://default:redis12345@redis:6379